<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">
{{- partial "head.html" . -}}

<body class="bg-carrara text-valhalla dark:bg-valhalla dark:text-carrara">
  {{- partial "header.html" . -}}
  <main class="container mx-auto max-w-5xl">
    {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}
</body>

</html>
