/* Styles for content in the aside element. */

aside.update {
  @apply bg-shakespeare;
  @apply dark:bg-calypso;
  @apply rounded;
}

aside.update > p {
  @apply p-2;
  @apply italic;
}

aside.update > p > span {
  @apply font-bold;
}
