.chroma .bp { color: #81a1c1 } /* Name.Builtin.Pseudo */
.chroma .c { color: #616e87; font-style: italic } /* Comment */
.chroma .c1 { color: #616e87; font-style: italic } /* Comment.Single */
.chroma .ch { color: #616e87; font-style: italic } /* Comment.Hashbang */
.chroma .cm { color: #616e87; font-style: italic } /* Comment.Multiline */
.chroma .cp { color: #5e81ac; font-style: italic } /* Comment.Preproc */
.chroma .cpf { color: #616e87; font-style: italic } /* Comment.PreprocFile */
.chroma .cs { color: #616e87; font-style: italic } /* Comment.Special */
.chroma .dl { color: #a3be8c } /* Literal.String.Delimiter */
.chroma .err { color: #bf616a } /* Error */
.chroma .fm { color: #88c0d0 } /* Name.Function.Magic */
.chroma .gd { color: #bf616a } /* Generic.Deleted */
.chroma .ge { font-style: italic } /* Generic.Emph */
.chroma .gh { color: #88c0d0; font-weight: bold } /* Generic.Heading */
.chroma .gi { color: #a3be8c } /* Generic.Inserted */
.chroma .go { color: #d8dee9 } /* Generic.Output */
.chroma .gp { color: #4c566a; font-weight: bold } /* Generic.Prompt */
.chroma .gr { color: #bf616a } /* Generic.Error */
.chroma .gs { font-weight: bold } /* Generic.Strong */
.chroma .gt { color: #bf616a } /* Generic.Traceback */
.chroma .gu { color: #88c0d0; font-weight: bold } /* Generic.Subheading */
.chroma .hl { display: block; width: 100%;background-color: #ffffcc }
.chroma .il { color: #b48ead } /* Literal.Number.Integer.Long */
.chroma .k { color: #81a1c1; font-weight: bold } /* Keyword */
.chroma .kc { color: #81a1c1; font-weight: bold } /* Keyword.Constant */
.chroma .kd { color: #81a1c1; font-weight: bold } /* Keyword.Declaration */
.chroma .kn { color: #81a1c1; font-weight: bold } /* Keyword.Namespace */
.chroma .kp { color: #81a1c1 } /* Keyword.Pseudo */
.chroma .kr { color: #81a1c1; font-weight: bold } /* Keyword.Reserved */
.chroma .kt { color: #81a1c1 } /* Keyword.Type */
.chroma .ln {color: #616e87; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;} /* LineNumber */
.chroma .lnt {color: #616e87; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;} /* LineNumber.Table */
.chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
.chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
.chroma .m { color: #b48ead } /* Literal.Number */
.chroma .mb { color: #b48ead } /* Literal.Number.Bin */
.chroma .mf { color: #b48ead } /* Literal.Number.Float */
.chroma .mh { color: #b48ead } /* Literal.Number.Hex */
.chroma .mi { color: #b48ead } /* Literal.Number.Integer */
.chroma .mo { color: #b48ead } /* Literal.Number.Oct */
.chroma .n { color: #d8dee9 } /* Name */
.chroma .na { color: #8fbcbb } /* Name.Attribute */
.chroma .nb { color: #81a1c1 } /* Name.Builtin */
.chroma .nc { color: #8fbcbb } /* Name.Class */
.chroma .nd { color: #d08770 } /* Name.Decorator */
.chroma .ne { color: #bf616a } /* Name.Exception */
.chroma .nf { color: #88c0d0 } /* Name.Function */
.chroma .ni { color: #d08770 } /* Name.Entity */
.chroma .nl { color: #8fbcbb } /* Name.Label */
.chroma .nn { color: #8fbcbb } /* Name.Namespace */
.chroma .no { color: #8fbcbb } /* Name.Constant */
.chroma .nt { color: #81a1c1 } /* Name.Tag */
.chroma .nv { color: #d8dee9 } /* Name.Variable */
.chroma .nx { color: #d8dee9 } /* Name.Other */
.chroma .o { color: #81a1c1 } /* Operator */
.chroma .ow { color: #81a1c1; font-weight: bold } /* Operator.Word */
.chroma .p { color: #eceff4 } /* Punctuation */
.chroma .py { color: #d8dee9 } /* Name.Property */
.chroma .s { color: #a3be8c } /* Literal.String */
.chroma .s1 { color: #a3be8c } /* Literal.String.Single */
.chroma .s2 { color: #a3be8c } /* Literal.String.Double */
.chroma .sa { color: #a3be8c } /* Literal.String.Affix */
.chroma .sb { color: #a3be8c } /* Literal.String.Backtick */
.chroma .sc { color: #a3be8c } /* Literal.String.Char */
.chroma .sd { color: #616e87 } /* Literal.String.Doc */
.chroma .se { color: #ebcb8b } /* Literal.String.Escape */
.chroma .sh { color: #a3be8c } /* Literal.String.Heredoc */
.chroma .si { color: #a3be8c } /* Literal.String.Interpol */
.chroma .sr { color: #ebcb8b } /* Literal.String.Regex */
.chroma .ss { color: #a3be8c } /* Literal.String.Symbol */
.chroma .sx { color: #a3be8c } /* Literal.String.Other */
.chroma .vc { color: #d8dee9 } /* Name.Variable.Class */
.chroma .vg { color: #d8dee9 } /* Name.Variable.Global */
.chroma .vi { color: #d8dee9 } /* Name.Variable.Instance */
.chroma .vm { color: #d8dee9 } /* Name.Variable.Magic */
.chroma .w { color: #d8dee9 } /* Text.Whitespace */
.chroma { color: #d8dee9; background: #2e3440; border-radius: 0.375em; }
pre.chroma { background: #2e3440; }
