<header class="h-12 bg-noonblue text-white uppercase">
  <nav class="container mx-auto max-w-5xl pl-4 md:pl-32 h-full">
    <ul class="flex flex-row items-center space-x-8 h-full">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ $classes := slice "navlink" }}
      {{ if or ($currentPage.IsMenuCurrent "main" .) (and (.Page) (and (.Page.IsAncestor $currentPage) (not .Page.IsHome))) }}
      {{ $classes = $classes | append "navlink-active" }}
      {{ end }}
      <li class='{{ delimit $classes " " }}'>
        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
