<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description"
  content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}

<!-- Hugo Version Number -->
{{ hugo.Generator -}}

{{- with ($.Param "favicon") }}
<link rel='icon' type='image/png' href="{{ . | absURL }}" />
{{- end -}}

<!-- Custom Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&family=Roboto+Mono&display=swap"
  rel="stylesheet">

<!-- Site Styles -->
{{ $styles := resources.Get "css/main.css" }}
{{ $styles = $styles | resources.PostCSS }}
{{ if hugo.IsProduction }}
{{ $styles = $styles | minify | fingerprint }}
{{ end }}
<link href="{{ $styles.RelPermalink }}" rel="stylesheet" />

<!-- Site Scripts -->
{{ $main_script := resources.Get "js/main.ts" | js.Build }}
<script src="{{ $main_script.RelPermalink }}" defer></script>

<!-- Contextual Scripts -->
{{ if $.Page.HasShortcode "d3_graphic" }}
{{ $d3_script := resources.Get "js/d3.ts" | js.Build }}
<script src="{{ $d3_script.RelPermalink }}"></script>
{{ end }}

<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ site.Title }}</title>
