<div class="flex space-x-4">
  {{- with ($.Param "logo") -}}
  <img class="h-24" src="{{ .src | absURL }}" alt="{{ .alt }}" />
  {{- end -}}
  <div class="my-auto">
    <h1 class="text-3xl font-bold text-noonblue">{{ .Site.Title }}</h1>
    {{- with ($.Param "subtitle") -}}
    <p class="mt-1 text-xl font-medium">{{ . }}
      {{- with ($.Param "author") -}}
      , by {{ . }}
      {{- end -}}
    </p>
    {{- end -}}
  </div>
</div>
<hr class="my-4">
