{{- /* A graphic which uses D3.js. Expects the following arguments:
- resource: The path to the JavaScript file containing the D3.js code. Must be
a page resource (https://gohugo.io/content-management/page-resources/).

It is expected that D3 selects an element with the same id as the filename of
the script (up to the first '.') and attaches any graphics to that element. For
example, the file `demo.d3.js` should select the element `#demo`.
*/ -}}

{{ if not (.Get "resource") }}
{{ errorf "%s: missing value for param 'resource'." .Position }}
{{ end }}
{{ $resource := .Get "resource" }}

<div class="d3-graphic">
  <div id='{{ index (split $resource ".") 0 }}'></div>
  <script async>
    {{- ($.Page.Resources.GetMatch $resource).Content | safeJS -}}
  </script>
</div>
