{{- $classes := (slice "inline-block") -}}
{{- with .Get "class" -}}
{{- $classes = $classes | append . -}}
{{- end -}}
{{- with .Get "url" -}}
<a class="no-underline" href="{{ . }}">
  {{- end -}}
  <i class='{{ delimit $classes " " }}' data-feather='{{ .Get "icon" }}'></i>
  {{- with .Get "url" -}}
</a>
{{- end -}}
