{{- /* An image from a page bundle. Expects the following arguments:
- resource: The path to the image file. Must be a page resource
(https://gohugo.io/content-management/page-resources/).
- sizes (optional): Content to pass to the sizes attribute of the image.

To provide a caption (and alt text), use the inner portion of the shortcode; for
example:

{{% img resource="pic.jpg" %}}This is the caption.{{% /img %}}

You can also provide the sizes attribute which will be passed through to the
sizes attribute of the image. If not provided, then a helpful default is used.
Below are some good values of the sizes attribute:

Thumbnails in post summaries:
sizes="(min-width: 768px) 160px, 100vw"

Images inside a post (default):
sizes="(min-width: 768px) 768px, 100vw"
*/ -}}

{{ if not (.Get "resource") }}
{{ errorf "%s: missing value for param 'resource'." .Position }}
{{ end }}
{{ $original := .Page.Resources.GetMatch (.Get "resource") }}

{{ $src_set := (print $original.RelPermalink " " $original.Width "w") }}

{{ if ge $original.Width "160"}}
{{ $tiny := $original.Resize "160x" }}
{{ $src_set = (print $src_set ", " $tiny.RelPermalink " 160w") }}
{{ end }}

{{ if ge $original.Width "300"}}
{{ $small := $original.Resize "300x" }}
{{ $src_set = (print $src_set ", " $small.RelPermalink " 300w") }}
{{ end }}

{{ if ge $original.Width "640"}}
{{ $medium := $original.Resize "640x" }}
{{ $src_set = (print $src_set ", " $medium.RelPermalink " 640w") }}
{{ end }}

{{ if ge $original.Width "768"}}
{{ $large := $original.Resize "768x" }}
{{ $src_set = (print $src_set ", " $large.RelPermalink " 768w") }}
{{ end }}

{{ $sizes := (.Get "sizes") | default "(min-width: 768px) 768px, 100vw" }}

<figure>
  <img srcset="{{ $src_set }}" sizes="{{ $sizes }}" src="{{ $original.RelPermalink }}" alt="{{ .Inner }}" />
  {{ if .Inner }}
  <figcaption>{{ .Inner }}</figcaption>
  {{ end }}
</figure>
