{{- /* An update of markdown content. Expects the following arguments:
- date: A date, parsable by https://gohugo.io/functions/dateformat/.

Place the content of the update in the inner portion of the shortcode; for
example:

{{% update date="2021-07-10" %}}
This is the update text
{{% /update %}}

The internal content is always processed further, regardless of whether '>' or
'%' is used as the shortcode delimiter. To avoid stripping extra HTML, use '>'.
Use separate lines for the internal content to ensure that spacing is properly
maintained for the update text.

*/ -}}

{{ if not (.Get "date") }}
{{ errorf "%s: missing value for param 'date'." .Position }}
{{ end }}

<aside class="update">
  <p>
    <span>
      Update ({{ dateFormat "2006-01-02" (.Get "date") }}):
    </span>
    {{ .Inner | .Page.RenderString }}
  </p>
</aside>
